/* ----------- GENERAL ----------- */

:root {
    --primary-color: #fff;
    --secondary-color: #bbb;
    --primary-bg: #111;
    --secondary-bg: #222;
    --tertiary-bg: #444;
}

*::before, *, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------- GENERIC CLASSES ----------- */

.container-v {
    display: flex;
    flex-direction: column;
}

.container-h {
    display: flex;
    flex-direction: row;
}

.secondary-text {
    color: var(--secondary-color)
}

.simple-button {
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: 1.2em;
    cursor: pointer;
}

/* ----------- BODY ----------- */

body {
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

/* ----------- YT-HEADER ----------- */

#yt-header {
    background-color: var(--secondary-bg);
    height: 7vh;
    width: 100vw;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 0 2vw;
}

/* ----------- YT-LOGO ----------- */

#yt-logo {
    width: 10%;
    justify-content: space-between;
}

#yt-logo div {
    align-items: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -1px;
    font-size: 1.2rem;
    width: 70%;
    justify-content: space-between;
}

#yt-logo .fa-youtube {
    color: #f70700;
    font-size: 2rem;
}

/* ----------- YT-SEARCH ----------- */

#yt-search {
    width: 35%;
}

#yt-search input {
    width: 100%;
    background-color: var(--primary-bg);
    height: 2rem;
    border: 1px solid #111;
    color: var(--secondary-color);
    padding: 0 0.5rem;
    font-size: 1rem;
    outline: none;
}

#yt-search input:focus {
    border-color: rgba(0, 132, 255, 0.582);
}

#yt-search button.search-button {
    padding: 0 20px;
    background-color: var(--tertiary-bg);
    font-size: 1rem;
}

#yt-search button.voice-search-button {
    margin-left: 1rem;
}

/* ----------- YT-USER ----------- */

#yt-user {
    width: 8%;
    justify-content: space-between;
}

#yt-user img {
    border-radius: 50%;
}

/* ----------- YT-CONTENT ----------- */

#yt-content {
    background-color: var(--primary-bg);
    position: absolute;
    padding: 9vh 5vw;
}

/* ----------- YT-MAIN ----------- */

#yt-main {
    width: 70%;
    padding-right: 2rem;
}

#yt-main iframe {
    width: 100%;
}

/* ----------- YT-RECOMMENDATIONS ----------- */

#yt-recommendations {
    width: 30%;
}

#yt-recommendations li {
    margin: 1rem 0;
    line-height: 1.5;
}

#yt-recommendations img {
    width: 40%;
    height: auto;
}

#yt-recommendations strong {
    font-size: 0.9rem;
}

#yt-recommendations span {
    color: var(--secondary-color);
    font-size: 0.8rem;
}