*::before, *, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-v {
    display: flex;
    flex-direction: column;
}

.container-h {
    display: flex;
    flex-direction: row;
}